SELECT TOP (1000) [MigrationId]
      ,[ContextKey]
      ,[Model]
      ,[ProductVersion]
  FROM [dbo].[__MigrationHistory]

SELECT TOP (1000) [Id]
      ,[Login]
      ,[Email]
      ,[Gender]
      ,[Birth]
      ,[Weight]
      ,[Height]
      ,[UserId]
      ,[Version]
      ,[CreatedAt]
      ,[UpdatedAt]
      ,[Deleted]
  FROM [dbo].[UserItems]

  SELECT TOP (1000) [Id]
      ,[WorkoutDate]
      ,[Time]
      ,[Distance]
      ,[MaxSpeed]
      ,[MediumSpeed]
      ,[MaxAltitude]
      ,[MinAltitude]
      ,[UserId]
      ,[UserItemId]
      ,[Version]
      ,[CreatedAt]
      ,[UpdatedAt]
      ,[Deleted]
  FROM [dbo].[WorkoutItems]

    SELECT TOP (1000) [Id]
      ,[Order]
      ,[Latitude]
      ,[Longitude]
      ,[UserId]
      ,[WorkoutItemId]
      ,[Version]
      ,[CreatedAt]
      ,[UpdatedAt]
      ,[Deleted]
  FROM [dbo].[MapPointItems]